h1 {
	font-size: 24pt;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}


h4 {
    font-size: 14pt;
    color: rgba(255, 255, 255, 1);
}

p {
    font-size: 11pt;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

i {
    color: #ffffff;
}

ion-item {
    --ion-safe-area-right: 0;
  }

  ion-button {
      margin-left: 0;
  }