<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>Personal information</h2>
        <p>Changes your personal information</p>
      </ion-label>
      <i class="icon-chevron-right"></i>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>Notifications</h2>
        <p>Manage the notifications in the app</p>
      </ion-label>
      <i class="icon-chevron-right"></i>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>Language</h2>
        <p>Manage your language and geolocation values</p>
      </ion-label>
      <i class="icon-chevron-right"></i>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>Security</h2>
        <p>Manage your security settings</p>
      </ion-label>
      <i class="icon-chevron-right"></i>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>Help</h2>
        <p>How to and Q&A to help you</p>
      </ion-label>
      <i class="icon-chevron-right"></i>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>About</h2>
        <p>General information about the app</p>
      </ion-label>
      <i class="icon-chevron-right"></i>
    </ion-item>
  </ion-list>

</ion-content>
