

ion-list {
	h2 {
		font-weight: 500;
		font-size: 12pt;
		line-height: 18pt;
		color: rgba(255, 255, 255);
	}

	p {
		font-weight: normal;
		font-size: 10pt;
		line-height: 18pt;
		color: rgba(255, 255, 255, 0.6);
    }
    i {
        font-size: 16pt;
        color: #ffffff;
    }
    
}   