<div class="favorite-container">
	<figure class="itemside">
		<div class="aside">
			<ion-avatar>
				<img src="{{ picture }}" />
			</ion-avatar>
		</div>
		<figcaption class="info ion-text-left flex flex-column">
			<p>{{ host }}</p>
			<h5>{{ name }}</h5>
			<p>{{ episodes }} episodes</p>
		</figcaption>
		<div class="flex align-self-center">
			<ion-button class="ion-no-padding circle-button" fill="clear" shape="round" color="default">
				<i class="icon-more-vertical"></i>
			</ion-button>
		</div>
	</figure>
</div> 